@import "~src/variables";

.launch-page {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
}



.launch-assignments-container {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  transform: translate3d(0,100vh,0);
  will-change: transform;

  &.slide-in {
    animation: slideInFromBottom 1s ease-out 0s forwards;
  }

  app-launch-assignments {
    width: 100%;
  }

}

.launch-history-container {
  margin: auto 0 auto auto;
  border-left: 1px solid $main-color;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  width: 400px;

  .launch-history-title {
    background-color: $main-color;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translate3d(0,100vh,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
