$main-color: #92c7d7;

.launch-page {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.rocket-icon {
  height: 100px;
  width: 100px;
  background-image: url("~src/assets/icons/rocket.svg");
  margin: 20px auto auto auto;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;


}

.launch-assignments-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transform: translate3d(0,0,0);
  will-change: transform;

  &.slide-in {
    animation: slideInFromBottom 1s ease-out 0s;
  }

  .launch-assignment-row {
    width: 100%;
    margin: 10px auto;
    display: flex;

    .launch-assignment {
      margin: auto;
      background-color: $main-color;
      background-image: url("~src/assets/icons/support.svg");
      background-position: center;
      background-size: 30px;
      background-repeat: no-repeat;
      width: 500px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      padding: 0 5px;

      .astronaut {

        display: flex;

        &:first-child {
          margin: auto auto auto 0;
        }

        &:last-child {
          margin: auto 0 auto auto;
        }

        .astronaut-name {
          margin: auto;
          font-size: 18px;
        }

        .astronaut-icon {
          height: 50px;
          width: 50px;
          background-image: url("~src/assets/icons/astronaut-helmet.svg");
          background-size: 30px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.fire-icon {
  height: 150px;
  width: 100px;
  background-image: url("~src/assets/icons/fire.svg");
  margin: 0 auto;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

@keyframes slideInFromBottom {
  0% {
    transform: translate3d(0,100vh,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
