<div class="launch-page">
  <div class="launch-assignments-container" [ngClass]="getAssignments().length > 0 ? 'slide-in' : ''">
    <app-launch-assignments [assignments]="getAssignments()"></app-launch-assignments>
  </div>
  <div class="launch-history-container">
    <div class="launch-history-title">
      LAUNCH HISTORY
    </div>
    <app-launch-history [launchHistory]="getLaunchHistory()"
                        (replaceAssignments)="replaceAssignments($event)"></app-launch-history>
  </div>
</div>


