.home-bg {
  background-image: url("../../../assets/images/background.png");
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.home-title {
  width: 100%;
  margin: 10vw auto auto auto;

  color: white;
  text-align: center;
  font-family: arial;

  .main-title {
    font-size: 50px;
  }

  .sub-title {
    font-size: 25px;
    width: 700px;
    margin: auto;
  }
}

.buttons-group {
  width: 100%;
  margin: auto auto 50px auto;
  display: flex;
  flex-direction: column;

  .launch-button {
    margin: auto;
    padding: 5px 40px;
    background-color: red;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 black;
    outline: none;

    font-size: 50px;
    font-weight: bold;
    color: white;

    &:hover {
      box-shadow: 0 2px 5px 0 black;
      background-color: darken(red, 10);
      transition: all 0.2s linear 0s;
    }
  }

  .history-button {
    margin: 20px auto auto auto;
    border: none;
    outline: none;
    cursor: pointer;
    background: lighten(red, 10);
    padding: 5px 20px;
    border-radius: 10px;

    font-size: 20px;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: red;
      transition: all 0.2s linear 0s;
    }
  }
}

